#tablero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .casilla {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    margin: 5px;
  }
  
  .casilla:hover {
    background-color: #ddd;
  }
  
  h1 {
    text-align: center;
  }
  .reset-button {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }